<h1>Welcome to Boran's Cocktails</h1>

<a href="/cocktails/new">Add a new cocktail!</a>

<div class='row'>
  <% @cocktails.each do |cocktail| %>
  <div class="card col-md-4 col-sm-12" style="width: 18rem;">
  <img src="https://source.unsplash.com/featured/?cocktail" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%=cocktail.name%></h5>
   <%=link_to 'Details', cocktail_path(cocktail), class: 'btn btn-primary'%>
  </div>
</div>
  <% end %>
</div>

